// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.gist{font-size:13px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}
.gist-meta a[href*='#file']{margin-right:10px}
html .gist .gist-file .gist-meta {background:none; font-size:.9em !important; border:none !important}

.highlight{border:none !important; background:none !important;}
.highlight .line-numbers{border-right:1px solid #ddd !important; background:none !important; text-shadow:none !important;-moz-box-shadow: #ddd -1px 0 inset; box-shadow: #ddd -1px 0 inset;}
.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code{background:none !important}